.product_view {
  margin-top: -8.5rem;
  &_bg {
    width: 100%;
    &_img {
      width: 100%;
      height: auto;
    }
  }
  &_position {
    background: #ffffff;
    padding: 6rem 0;
    &_main {
      width: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_img {
      width: 45%;
      height: auto;
    }
    &_section {
      width: 50%;
      display: flex;
      flex-direction: column;
      &_title {
        color: #333333;
        font-size: 3rem;
        line-height: 4rem;
        font-weight: 500;
        margin-bottom: 2rem;
      }
      &_desc {
        line-height: 3rem;
        font-size: 2rem;
        color: #333;
        font-weight: normal;
      }
    }
  }
  &_box {
    background: #a8c4d3;
    padding: 3rem 0 6rem 0;
    &_title {
      font-size: 3rem;
      line-height: 4rem;
      margin-bottom: 3rem;
      text-align: center;
    }
    &_list {
      width: 80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      &_item {
        background: #ffffff;
        padding: 2rem;
        &_img {
          width: 100%;
          margin-bottom: 1rem;
          height: auto;
        }
        &_title {
          font-size: 2.4rem;
          line-height: 3rem;
          margin-bottom: 1.5rem;
          text-align: center;
          color: #d3af86;
        }
        &_desc {
          padding: 0 2rem;
          color: #aaa;
          line-height: 2rem;
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  }
  &_line {
    height: 1rem;
    background: #ffffff;
  }
}

@media screen and (max-width: 768px) {
  .product_view {
    margin-top: 0;
    &_bg {
      width: 100%;
      height: 30rem;
      background-image: url('/product/bg.png');
      background-size: cover;
      &_img {
        width: 100%;
        height: auto;
        display: none;
      }
    }
    &_position {
      background: #ffffff;
      padding: 2rem 0;
      &_main {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
      &_img {
        width: 100%;
        height: auto;
      }
      &_section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 1.6rem;
        box-sizing: border-box;
        margin-top: 1rem;
        &_title {
          color: #333333;
          font-size: 1.8rem;
          line-height: 2.4rem;
          font-weight: 500;
          margin-bottom: 2rem;
        }
        &_desc {
          line-height: 1.8rem;
          font-size: 1.2rem;
          color: #333;
          font-weight: normal;
        }
      }
    }
    &_box {
      background: #a8c4d3;
      padding: 1.5rem 0 3rem 0;
      &_title {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-bottom: 3rem;
        text-align: center;
      }
      &_list {
        width: 100%;
        margin: 0 auto;
        padding: 0 1rem;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &_item {
          width: 48%;
          background: #ffffff;
          padding: 0.5rem;
          box-sizing: border-box;
          &_img {
            width: 100%;
            margin-bottom: 1rem;
            height: auto;
          }
          &_title {
            font-size: 1.6rem;
            line-height: 2rem;
            margin-bottom: 1.5rem;
            text-align: center;
            color: #d3af86;
          }
          &_desc {
            padding: 0 1rem;
            color: #aaa;
            line-height: 1.5rem;
            font-size: 1.2rem;
            text-align: center;
          }
        }
      }
    }
    &_line {
      height: 1rem;
      background: #ffffff;
    }
  }
}