.about_view {
  margin-top: -8.5rem;
  &_section {
    position: relative;
    &_img {
      width: 100%;
      height: auto;
    }
    &_box {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    &_title {
      font-size: 3rem;
      color: #333333;
      margin-bottom: 4rem;
    }
  }
  &_main {
    background: #EDEEF3;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_title {
      font-size: 3.6rem;
      color: #333333;
      margin-bottom: 2rem;
    }
    &_contact {
      display: flex;
      justify-content: center;
      gap: 5rem;
      margin-bottom: 4rem;
      &_img {
        width: 20rem;
        height: 20rem;
      }
    }
    &_box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 6rem;
      position: relative;
    }
    &_box::after {
      content: '';
      width: 10rem;
      height: 1px;
      background: #333333;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 3rem;
    }
    &_subtitle {
      font-size: 2rem;
      color: #333333;
      margin-bottom: 0.5rem;
    }
    &_desc {
      font-size: 2.6rem;
      color: #333333;
      margin-bottom: 0.5rem;
    }
    &_tips {
      font-size: 2rem;
      color: #cccccc;
    }
    &_vip {
      font-size: 3.2rem;
      color: #333333;
      margin-bottom: 4rem;
      display: flex;
      align-items: center;
      &_img {
        width: 3rem;
      }
    }
    &_tip {
      font-size: 2rem;
      color: #333333;
    }
  }
  &_line {
    height: 1.5rem;
    background: #ffffff;
  }
}


@media screen and (max-width: 768px) {
  .about_view {
    margin-top: 0;
    
    &_section {
      position: relative;
      background-image: url('/contact/bg.png');
      height: 50rem;
      background-size: cover;
      &_img {
        width: 100%;
        display: none;
        height: auto;
      }
      &_box {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &_title {
        font-size: 1.6rem;
        color: #333333;
      }
    }
    &_main {
      background: #EDEEF3;
      padding: 3rem 1.6rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &_title {
        font-size: 1.8rem;
        color: #333333;
        margin-bottom: 1rem;
      }
      &_contact {
        display: flex;
        flex-direction: column;
        margin: 2.5rem 0;
        padding: 0 3rem;
        box-sizing: border-box;
        gap: 1rem;
        &_img {
          width: 8rem;
          height: auto;
        }
      }
      &_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 6rem;
        position: relative;
      }
      &_box::after {
        content: '';
        width: 10rem;
        height: 1px;
        background: #333333;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 3rem;
      }
      &_subtitle {
        font-size: 1.6rem;
        color: #333333;
        margin-bottom: 0.5rem;
      }
      &_desc {
        font-size: 1.2rem;
        color: #333333;
        margin-bottom: 0.5rem;
      }
      &_tips {
        font-size: 1.2rem;
        color: #cccccc;
      }
      &_vip {
        font-size: 1.2rem;
        color: #333333;
        margin: 2rem 0 0.5rem 0;
        display: flex;
        text-align: center;
        justify-content: center;
        &_img {
          width: 1.3rem;
        }
      }
      &_tip {
        font-size: 1.2rem;
        color: #333333;
      }
    }
    &_line {
      height: 1.5rem;
      background: #ffffff;
    }
  }
}