.new_view {
  margin-top: -8.5rem;
  &_section {
    position: relative;
    &_img {
      // width: 192rem;
      // height: 60rem;

      width: 100%;
      height: auto;
    }
    &_main {
      padding-top: 10rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 5%;
      box-sizing: border-box;
    }
    &_tip {
      color: #ffffff;
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    &_title {
      font-family: Roboto;
      font-weight: 500;
      font-size: 4rem;
      line-height: 4.8rem;
      margin-bottom: 1rem;
      color: #ffffff;
    }
    &_desc {
      color: #999;
      font-family: Roboto;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
  &_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &_main {
      width: 144rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8rem;
      padding: 8rem 0;
      margin: 0 auto;
      position: relative;
      &_desc {
        width: 40%;
        &_title {
          font-family: Roboto;
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 3rem;
          letter-spacing: 0%;
          margin-bottom: 1rem;
          margin-top: 0;
          color: #1F1F1F;
        }
        &_tip {
          font-family: Roboto;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.6rem;
          color: gray;
          margin-bottom: 2rem;
        }
      }
      &_img {
        width: 40%;
        height: auto;
      }
      &_btn {
        font-size: 1.6rem;
        color: #333333;
        text-decoration: none;
        position: absolute;
        left: 0rem;
        bottom: 8rem;
      }
    }
    &_mains {
      padding: 8rem 0;
      width: 144rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 8rem;
      margin: 0 auto;
      position: relative;
      &_desc {
        width: 40%;
        position: relative;
        &_title {
          font-family: Roboto;
          font-weight: 700;
          font-size: 2.4rem;
          line-height: 3rem;
          letter-spacing: 0%;
          margin-bottom: 1rem;
          color: #1F1F1F;
          margin-top: 0;
        }
        &_tip {
          font-family: Roboto;
          font-weight: 400;
          font-size: 1.6rem;
          line-height: 2.6rem;
          color: gray;
          margin-bottom: 2rem;
        }
      }
      &_img {
        width: 40%;
        height: auto;
      }
      &_btn {
        font-size: 1.6rem;
        color: #333333;
        text-decoration: none;
        position: absolute;
        right: 0rem;
        bottom: 8rem;
      }
    }
    &_line {
      background: #ffffff;
      height: 1rem;
      width: 100%;
    }
  }
}
.full {
  width: 100%;
  display: block;
  text-decoration: none;
}
.bg1 {
  background: #ECEDF2;
}
.bg2 {
  background: #ffffff;
}
.bg3 {
  background: #E0ECF8;
}
.w40 {
  width: 40%;
  .new_view_box_main_desc  {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .new_view {
    &_section {
      height: 30rem;
      background-image: url('/news/bg.png');
      background-size: cover;
      position: relative;
      &_img {
        width: 100%;
        height: auto;
        display: none;
      }
      &_main {
        position: static;
        left: 100%;
        transform: translateX(0);
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 5%;
        box-sizing: border-box;
      }
      &_tip {
        color: #ffffff;
        font-size: 1.6rem;
        margin-bottom:0.51rem;
      }
      &_title {
        font-family: Roboto;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-bottom: 1rem;
        color: #ffffff;
      }
      &_desc {
        color: #999;
        font-family: Roboto;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
    &_box {
      &_main {
        width: 100%;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &_img {
          width: 100%;
        }
        &_desc {
          width: 100%;
          padding: 0 3rem;
          box-sizing: border-box;
        }
        &_btn {
          font-size: 1.6rem;
          color: #333333;
          text-decoration: none;
          position: static;
          right: 8rem;
          bottom: 8rem;
          text-align: center;
        }
      }
      &_mains {
        width: 100%;
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        &_img {
          width: 100%;
        }
        &_desc {
          width: 100%;
          padding: 0 3rem;
          box-sizing: border-box;
        }
        &_btn {
          font-size: 1.6rem;
          color: #333333;
          text-decoration: none;
          position: static;
          right: 8rem;
          bottom: 8rem;
          text-align: center;
        }
      }
    }
  }
  .reverse {
    flex-direction: column-reverse;
  }
  .w40 {
    width: 100%;
  }
}