.product_view {
  &_title {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #323232;
    font-weight: bold;
  }
  &_subtitle {
    padding: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    font-weight: bold;
    color: #206857;
  }
  &_box1 {
    background: #6F87A0;
    padding: 8rem 0;
    &_main {
      width: 144rem;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_title {
        width: 30%;
        color: #ffffff;
        font-size: 3.2rem;
        font-weight: bold;
      }
      &_desc {
        width: 70%;
        color: #ffffff;
        font-size: 1.6rem;
      }
    }
  }
  &_main {
    background: #E6D8C6;
    padding-bottom: 3rem;
    &_title {
      color: #206857;
      padding: 4rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3.2rem;
    }
    &_box {
      width: 144rem;
      margin: 0 auto;
      &_img {
        width: 100%;
        height: auto;
      }
      &_line {
        line-height: 2.5rem;
        font-size: 1.8rem;
        color: #323232;
        text-align: center;
      }
      &_flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin: 2rem 0;
        &_img {
          flex: 1;
          height: auto;
        }
      }
    }
    &_container {
      box-sizing: border-box;
      width: 144rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      &_item {
        background: #ffffff;
        position: relative;
        &_img {
          width: 100%;
          z-index: 99;
        }
        &_desc {
          position: absolute;
          left: 0;
          bottom: 2rem;
          width: 100%;
          z-index: 199;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #323232;
          font-size: 1.6rem;
        }
      }
    }
    &_containers {
      box-sizing: border-box;
      width: 144rem;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      &_item {
        background: #ffffff;
        position: relative;
        &_img {
          width: 100%;
          margin-bottom: 1rem;
          z-index: 99;
        }
        &_desc {
          position: absolute;
          left: 0;
          bottom: 2rem;
          width: 100%;
          z-index: 199;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #323232;
          font-size: 1.6rem;
        }
      }
    }
  }
}
.box {
  width: 144rem;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex {
  display: flex
}
.mb20 {
  margin-bottom: 3rem;
}
.m20 {
  width: 144rem;
  margin: 4rem auto;
}
@media screen and (max-width: 768px) {
  .product_view {
    &_title {
      padding: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.8rem;
      color: #323232;
      font-weight: bold;
    }
    &_subtitle {
      padding: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      font-weight: bold;
      color: #206857;
    }
    &_box1 {
      padding: 2rem 1.6rem;
      box-sizing: border-box;
      &_main {
        width: 100%;
        display: flex;
        flex-direction: column;
        &_title {
          width: 100%;
          font-size: 1.8rem;
        }
        &_desc {
          width: 100%;
          font-size: 1.2rem;
        }
      }
    }
    &_main {
      background: #E6D8C6;
      padding-bottom: 3rem;
      width: 100%;
      &_title {
        color: #206857;
        padding: 2rem 3rem;
        box-sizing: border-box;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
      }
      &_box {
        width: 100%;
        margin: 0 auto;
        &_img {
          width: 100%;
          height: auto;
          margin-bottom: 0rem;
        }
        &_line {
          line-height: 1.8rem;
          font-size: 1.6rem;
          color: #323232;
          text-align: center;
        }
        &_flex {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 0.5rem;
          margin: 0 0 1rem 0;
          &_item {
            flex: 1;
          }
          &_item:last-child {
            margin-bottom: 0;
          }
          &_img {
            width: 100%;
            height: auto;
          }
        }
      }
      &_container {
        box-sizing: border-box;
        padding: 0 5%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 100%;
        &_item {
          padding: 1rem 0;
          background: #ffffff;
          &_img {
            width: 100%;
            margin-bottom: 1rem;
          }
          &_desc {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            color: #323232;
            font-size: 1.2rem;
            text-align: center;
            height: 4rem;
            line-height: 1.3rem;
            bottom: -0.2rem;
            padding: 0 1rem;
            box-sizing: border-box;
          }
        }
      }
      &_containers {
        box-sizing: border-box;
        padding: 0 5%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        &_item {
          padding: 1rem 0;
          background: #ffffff;
          &_img {
            width: 100%;
            margin-bottom: 1rem;
          }
          &_desc {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            color: #323232;
            font-size: 1.2rem;
            text-align: center;
            height: 4rem;
            line-height: 1.3rem;
            bottom: -0.2rem;
            padding: 0 1rem;
            box-sizing: border-box;
          }
        }
      }
    }
  } 
  .m20 {
    margin: 1rem 0;
    padding: 0 3rem;
    box-sizing: border-box;
    width: 100%;
  }
  .box {
    width: 100%;
    flex-direction: column;
  }
}